
// Food Meta
// ---------


// Food Meta Tags
.menu-detail-tags {
    @extend %list-reset;
    li {
        display: inline-block;
        margin: rem-calc(0 4 0 0);
    }

    .food-meta-tag.label {
        background: $cream;
        padding: rem-calc(3 12 9 12);
        border-radius: $global-rounded;
        transition: background $global-transition;
        .icon,.content {
            transition: color $global-transition;
            color: $orange;
        }
        .icon {
            position: relative;
            top: 3px;
            font-size: rem-calc(18);
            margin: rem-calc(0 4 0 0);
        }
        .content {
            font-size: rem-calc(14);
        }

        &:hover {
            cursor: pointer;
            background: $orange;
            .icon,.content {
                color: $white;
            }
        }
    }
}

// Menu Ingredient List
.menu-ingredients-list {
    color: $light-tan;
    font-size: rem-calc(14);
    margin: rem-calc(0 0 48);
}

// .menu-category {
//     height: 8px;
//     width: 8px;
//     border-radius:1000px;
//     display: inline-block;
//     position: relative;
//     top:-2px;
//     span {
//         position: absolute;
//         left:-99999px;
//         height:0px;
//         width:0px;
//     }

//     &.categ-vegetarian {
//         background: $green;
//     }
//     &.categ-vegan {
//         background: $blue;
//     }
// }