
// Full Spread
// -----------
#full-spread {
  background: url('../images/hero-1.jpg');
  background-size:cover;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: rem-calc(90); // offset nav-bar
  overflow: hidden;
}
.below-full-spread {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  margin-top: rem-calc(90);
}