
// Mixins, Extensions
// ------------------

%icon-font-before {
    font-family: "all-purpose" !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

%list-reset {
    margin:0;
    padding:0;
    li {list-style: none;}
}