body.no-overflow {
    overflow: hidden;
}
// Modal: Full
.full.reveal-modal {
    border:0;
    padding:0;
    margin:0;
    border-radius:0;
    box-shadow: none;
    -webkit-overflow-scrolling : touch;

    &.opened {
        position: fixed;
        overflow: scroll;
        top: 0 !important;
    }

    // Footer
    .site-footer {
        position: relative;
    }
}