// Page: Press
// -----------

#press-section {

    #press-intro {
        padding-left: rem-calc(32);
        // Header
        .column.header {
            width: 66.667%;
            header {
                padding: rem-calc(40 60 40 0);
                h4 {
                    margin: rem-calc(40 0 0);
                }
            }
        }
        // Logo
        .column.logo {
            width: 33.333%;
        }
        // Info Card
        .info-card.press {margin-top: 0;}

        @media #{$medium-down-upperbound}{
            .column.header {
                width: 100%;
                margin: 0 auto;
                float:none;
                text-align: center;
                header {
                    padding: rem-calc(0 24 40 );}
            }
            .column.logo {
                width: 100%;
                float:none;
            }
        }
    }

    @media #{$small-only} {
        .header-wrap {
            .column.header header {
                padding: rem-calc(0 16 80 0 );
                text-align: center;
            }
            .column.header,
            .column.logo {
                width: 100%;
            }
        }
    }

}