
// Page: Home
// ----------
#what-Southfork-is {
    .split-hero {
        margin-top: rem-calc(60)
    }
    // Hero CTA
    @media #{$large-only} {
        .cta-hero-copy:not(.fill-card) .inner {
            width:500px;
        }
    }

    // Ordering
    #ordering-learn-more {
        @include clearfix;
        text-align: center;
        margin: rem-calc(32 0 80);
    }

}