
// Full Spread
// -----------
$large-screen-full-spread-cta:rem-calc(700);
$medium-screen-full-spread-cta:70%;
$small-screen-full-spread-cta:84%;

.full-spread-wrap {
  position: relative;
  height:rem-calc(600);
}

#full-spread {
  background: url('../images/header-3_1280x600x72res.jpg');
  background-size:cover;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; 
  overflow: hidden;
}

 @media #{$small-only} {
  .full-spread-wrap {
    position: relative;
    height:rem-calc(500);
  }
  #full-spread {
    background: url('../images/header-3_768x600x72res.jpg');
    background-size:cover;
  }
}

.full-spread-cta {
  position: absolute;
  z-index: 100;
  width:$large-screen-full-spread-cta;
  margin-left: -$large-screen-full-spread-cta/2;
  left:50%;
  margin-top: rem-calc(120);

  // @media #{$medium-only} {
  @media screen and (max-width:1024px) and (min-width: 768px) {
    margin-top: rem-calc(90);
    width:$medium-screen-full-spread-cta;
    margin-left: -$medium-screen-full-spread-cta/2;
  }
  @media screen and (max-width:768px) {
  // @media #{$small-only} {
    margin-top: rem-calc(60);
    width:$small-screen-full-spread-cta;
    margin-left: -$small-screen-full-spread-cta/2;
  }
}
.below-full-spread {
  position: relative;
  // top: 100%;
  // width: 100%;
  // height: 100%;
  // margin-top: rem-calc(90);

  .site-footer {
    position: relative;
    // height: inherit;
  }
}

@media #{$small-only} {
  .full-spread-wrap {

    .full-spread-cta {
      position: relative;
      margin:0 auto;
      float: none;
      left:0;
      padding: rem-calc(40 0 48);
    }
  }
  .below-full-spread {
    position: relative;
    top:inherit;
    height:inherit;
    margin:0;
  }
}
