// Pattern: Customer Account View
// -------------------------------

.customer-account {
    padding-bottom: rem-calc(200);


    // Layout Setup
    &.sm-width {
        aside.side-bar {
            @include grid-column(3, $pull: 4);
        }
        section.manage-account {
            @include grid-column(4, $push:4);
        }
    }
    &.md-width {
        aside.side-bar {
            @include grid-column(3, $pull: 6);
        }
        section.manage-account {
            @include grid-column(6, $push:4);
        }
    }
    &.lg-width {
        aside.side-bar {
            @include grid-column(3, $pull: 8);
        }
        section.manage-account {
            @include grid-column(8, $push:4);
        }
    }

    // Side Bar
    aside.side-bar {
        margin-top: rem-calc(100);
        hr {
            margin: rem-calc(16 0 8);
        }
    }

    // Mange Account
    section.manage-account {
        margin-top: rem-calc(60);

        // Layout Widths
        // &.sm-width {
        //     @include grid-column(4, $push:1);
        // }
        // &.md-width {
        //     @include grid-column(6, $push:1);
        // }
        // &.lg-width {
        //     @include grid-column(8, $push:1);
        // }

        // Confirm Delivery
        .checkout-confirm-delivery {
            @extend %row-reset;
        }

        // Form Header
        header.form-title {margin-bottom: rem-calc(16);}

        // Change Password
        .change-password {
            margin-top: rem-calc(6);
        }
        // Toggle Emails
        .toggle-emails {
            .switch, p {display: inline-block;}
            p {
                font-size: rem-calc(14);
                top: rem-calc(-4);
                margin-left: rem-calc(6);
                position: relative;
            }
        }

        // Payment Info Card
        .payment-info-card {
            @include grid-column(6);
            margin-bottom: rem-calc(60);
            @media #{$small-only} {
                @include grid-column(12);
            }

            // Header
            .payment-header {

                h6 {display: inline-block;}
                .close {
                    float: right;
                    font-size: rem-calc(14);
                    color: $clay;
                    position: relative;
                    top:rem-calc(6);
                    &:hover {color: darken($clay, 10);}
                }
            }

            hr {
                margin: rem-calc(12 0 16);
            }

            .payment-method,
            .payment-detail {float: left;}

            .payment-method {
                margin-right: rem-calc(12);
            }

            // Detail
            .payment-detail {
                p {
                    margin-bottom: rem-calc(6);
                }
                .note.small a {
                    font-size: 14px;
                    color:$primary-color;
                }
            }
        }

        // Payment Save Button
        .payment-save {
            margin-top: rem-calc(60);
        }

        // Table
        table {
            margin-top: rem-calc(48);
            width:100%;
        }

    }

    // Medium Down
    @media #{$medium-down-upperbound} {
        aside.side-bar,
        section.manage-account {
        @include grid-column(10, $push:0, $center: true);
        }

        &.sm-width,
        &.md-width,
        &.lg-width {
            aside.side-bar,
            section.manage-account {
                @include grid-column(10, $push:0, $pull:0, $center: true);
            }
        }
    }

}