
// Focus List w/ Icons
// -------------------
.focus-list-w-icons {
    @extend %list-reset;
    li {
        display: inline-block;
        @include grid-column(4);
        padding: rem-calc(24 32 20);

        .inner {
            border-top: 1px solid $silver;
            border-bottom: 1px solid $silver;
            padding: rem-calc(24 32 20);
            height: 100%;
        }

        .icon-content {
            text-align: center;
            margin-top: rem-calc(32);
            position: relative;
            transition: all .35s ease-in-out;

            img {
                max-width:100px;
                margin: 0 auto;
                display: block;
            }
        }

        &:hover .icon-content {
            cursor:pointer;
            // transform: translate3d(-0, -4px, 0) rotateY(-360deg);
            // -moz-transform: translate3d(-0, -4px, 0) rotateY(-360deg);
            // -webkit-transform: translate3d(-0, -4px, 0) rotateY(-360deg);
        }

        .list-content {
            text-align: center;

            .title {
                margin: rem-calc(20 0)
            }
            p {
                font-size: rem-calc(14);
                color: $clay;
            }
        }

        @media only screen and (max-width: 48em) {
            @include grid-column(10, $center:true );
            display: block;
            .inner {
                border-top: 0px;
            }
            &:last-child .inner {
                border-bottom: 0px;
            }
            .icon-content {margin:0;}
        }
    }
}