// Pattern: Checkout Login
// -----------------------
.checkout-login {
    padding: rem-calc(60 0 160);

    .section-header {
        text-align: left;
        .title {
            color: $orange;
        }
    }
    .inner {
        padding-top: 0;
    }

    .button {
        margin: rem-calc(32 0 12);
        padding-left: rem-calc(48);
        padding-right: rem-calc(48);
    }
}