
// Modal Nav for Menu Detail
// -------------------------

.modal-nav-bar {
    background: $white;
    height: $topbar-height;
    .name {
        height: $topbar-height;
        margin: 0;
        font-size: $rem-base;
        display: inline-block;

        .logo {
          max-width: 210px;
          width:100%;
          position: relative;
          top: -3px;
          @media #{$medium-only} {max-width:160px;}
          @media #{$small-only} {max-width:132px;}
        }
        h1 {
            margin-top: rem-calc(6);
        }

    }

    ul {
        @extend %list-reset;
        text-align: center;
    }

    ul.left,
    ul.right, {
        position: absolute;
        top: rem-calc(30);

    }
    ul.left {
        left:0;
        margin-left: 1.40625rem;
    }
    ul.right {
        right:0;
        margin-right: 1.40625rem;
    }

    .back-to-menu {
        font-size: rem-calc(17);
        text-transform: uppercase;
        letter-spacing: 0.012em;

        .icon {
            position: relative;
            top:1px;
            margin: rem-calc(0 8 0 0);
            font-size: rem-calc(16);
        }
        a {
            padding: 1em;
            color: $brown;
                // Override Foundation .close-reveal-modal
                font-size: 16px;
                line-height: 1;
                position: inherit;
                top: inherit;
                right: inherit;
                color: inherit;
                font-weight: inherit;
            &:hover {color: $orange;}
        }

    }
    // .cart {
    //     color: $old-iron;
    //     position: relative;
    //     top:-2px;
    //     margin: rem-calc(0 8 0 0);
    //     font-size: rem-calc(22);
    //     &:hover {color: $brown;}
    // }

    @media #{$medium-down} {
       .back-to-menu .content {display: none;}
       .name h1 {
            margin-top: rem-calc(16);
       }
    }
}