
// Full Spread CTA
// ----------------
.js .full-spread-cta {
    transition: opacity .8s, -webkit-transform .8s linear, -moz-transform .8s linear;
    -webkit-transform: translate3d(0, 1em, 0);
    -moz-transform: translate3d(0, 1em, 0);
    opacity: 0;
}
.full-spread-cta {
    // major layout styles: full-spread.scss

    &.loaded {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    .inner {
        padding: rem-calc(70 78 32);
        background: rgba($white, .08);
        border: 3px solid $white;
    }

    .section-tag,
    p {
        color: $white;
        text-align: center;
    }

    .footnote {
        font-size: rem-calc(13);
    }

    .section-tag {
        font-size: rem-calc(24);
        margin: rem-calc(0 0 30);
    }

    p {
        letter-spacing: 0.04rem;
        font-size: rem-calc(16);
    }

    form {
        margin: rem-calc(42 0 0);
    }

    small {
        text-align: center;

        font-size: rem-calc(12);
        margin: rem-calc(28 0 0);
        display: block;
        letter-spacing: 0.012em;
        a {
            color: $silver;
            &:hover {color: $orange;}
        }
        .icon {
            position: relative;
            top: 1px;
            font-size: rem-calc(10);
        }
    }

    @media #{$small-only} {

        .inner {padding: rem-calc(40 32 44);}

        .section-tag {
            font-size: rem-calc(18);
            letter-spacing: 0.04rem;
            margin: rem-calc(0 0 12);
        }

        p {
            font-family: $font-family-serif;
            letter-spacing: 0.04rem;
            font-size: rem-calc(16);
        }

        form {
            margin: rem-calc(24 0 0);
        }

    }
}

