

// Pattern: Menu Block
// -------------------
.js .menu-block-list {

    > li {
        opacity:0;
        -moz-transform: translate3d(0, 1em, 0);
        -webkit-transform: translate3d(0, 1em, 0);
        transition: opacity .6s linear, transform .5s linear;
        &.loaded {
            opacity:1;
            transform: translate3d(0, 0, 0);
        }
    }


}

ul.menu-block-list {
    list-style: none;
    @extend %list-reset;
    @include clearfix;

    > li {
        @include grid-column(4);
        margin: 0 auto;
        margin-bottom: rem-calc(24);
        position: relative;



        @media #{$medium-only} {
            @include grid-column(6);
        }
        @media #{$small-only} {
            @include grid-column(12);
            float: none;
            max-width: 400px;
        }

        .inner {
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            background: $white;
            height: 100%;
            min-height: rem-calc(410);
        }

        // Menu Pic
        .menu-block-pic {
            position: relative;
            min-height: 200px;
            &:hover {cursor:pointer;}
            img {
                width:100%;
                border-top-right-radius: 8px;
            }
            a {
                display: block;

                    position: absolute;
                    right:0;
                    z-index: 100;

                &:hover {
                    .icon-trigger.more:after {background: $orange;}
                }
            }
        }

        // Menu Content
        .menu-block-content {
            padding: rem-calc(20) rem-calc(20) rem-calc(10) rem-calc(20) ;

            .title {
                font-size: rem-calc(20);
                font-weight: 600;
            }
        }

        // Menu Block Meta
        .menu-block-meta {
            @include clearfix();
            // text-align: right;

            // width: 100%;
            // position: absolute;
            // bottom: 0;
            // margin-left: -($column-gutter + rem-calc(20));
            // margin-bottom: rem-calc(20);
            ul {
                float: left;

            }

            .price {
                float: right;
                text-align: right;
                font-size: rem-calc(16);
                letter-spacing: 0.06rem;
                // color:$aluminum;
                margin: 0 4px 0 0;
            }
        }



    }

    // Sold Out
    .sold-out {
        .menu-block-pic img {opacity:.7;}
    }
}