
// Pattern: CTA Hero
// -----------------
.js .cta-hero .fill-card{
    transition: opacity .8s, transform .8s linear;
    opacity: 0;
}
.js .cta-hero.in-view .fill-card{
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.cta-hero {
    position: relative;
    background: $secondary-color;
    width:100%;
    min-height: 480px;
    overflow: hidden;

    .inner {
        @include grid-column(4, $center: true);
    }

    .cta-hero-copy {
        z-index: 1;
        position: relative;
        text-align: center;

        .tagline,
        .title,
        p {
            color: $white;
        }

        .tagline {
            padding: rem-calc(72 0 0);
            text-transform: uppercase;
            letter-spacing: rem-calc(1.8);
            .heart-icon {
                position: relative;
                top: 2px;
                margin-left: 4px;
            }
        }

        .title {
            font-size: rem-calc(80);
            padding: rem-calc(20 0);
        }

        form {
            padding: rem-calc(32 0 72);
        }

        // Fill Card
        &.fill-card {
            padding: rem-calc(182 16 182);
            .inner {
                background: $cool;
                @include grid-column(6, $center: true);
                padding-left: rem-calc(65);
                padding-right: rem-calc(65);
            }

            .tagline {
                padding: rem-calc(48 0 0);
                color: $brown;
            }
            p {color:$clay;}

            form {
                padding: rem-calc(16 0 62);
            }

            .footnote {
                position: relative;
                top:rem-calc(60);
            }
        }

    }

    .cta-hero-bg {
        background: url('http://res.cloudinary.com/hkfwkcc3l/image/upload/v1432216352/atlantaskyline_1280x700_jv6msw.jpg')no-repeat;
        background-size: cover;
        position: absolute;
        z-index:0;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
    }

    @media #{$medium-only} {
        .inner {
            @include grid-column(6, $center: true);
        }
        .cta-hero-copy.fill-card .inner {
            @include grid-column(6, $center: true);
        }

    }

    @media #{$small-only} {
        .inner {
            @include grid-column(10, $center: true);
        }
        .cta-hero-copy.fill-card {
            padding: rem-calc(80 0 80);
            .inner {
                @include grid-column(11, $center: true);
                padding-left:rem-calc(24);
                padding-right:rem-calc(24);
            }
        }
    }

}
