
// Focus List - Story Line
// -----------------------
.focus-list-story-line {
    @extend %list-reset;
    li {
        display: inline-block;
        @include grid-column(4);
        padding: rem-calc(6 32 20);

        .inner {
            padding: rem-calc(24 32 20);
        }
        .icon-content {
            margin: rem-calc(0 0 24);
            text-align: center;
        }
        .list-content {
            text-align: center;
        }
        &:nth-child(3) .number-badge span {
            top:3px;
            left:1px;
        }

        // @media #{$medium-only} {
        //     @include grid-column(6);
        // }
        // @media #{$small-only} {
        @media only screen and (max-width: 48em) {
            @include grid-column(12, $center:true);
            display: block;

            .number {display: block;margin:0 auto;}
            text-align:center;
        }
    }
}

// In View
    .focus-story-line-wrap {
        li {
            &:first-child .inner, &:first-child .number-badge, &:first-child p {
                transition: all .3s ease-in;
            }
            &:nth-child(2) .inner, &:nth-child(2) .number-badge, &:nth-child(2) p {
                transition: all .3s ease-in 1s;
            }
            &:nth-child(3) .inner, &:nth-child(3) .number-badge, &:nth-child(3) p {
                transition: all .3s ease-in 2s;
            }
            .inner {
                -webkit-transform: translate3d(0,8px, 0);
            }

            .number-badge {
                color: $gainsboro;
                border-color: $gainsboro;
            }
            p {
                color: $gainsboro;
            }
        }
        &.in-view {
            li {
                .inner {
                    -webkit-transform: translate3d(0,0, 0);
                }
                p {color: $light-tan;}
                .number-badge {
                    color: $orange;
                    border-color: $orange;
                }

            }
        }
    }