// CTA Menu
// - - - - - - - -

.cta-menu {
    padding: rem-calc(48 16 32);
    .title {
        letter-spacing: 0.06em;
    }
    .footnote a {
        color: $jumbo;
        font-size: rem-calc(14);
    }
    form {
        padding: rem-calc(24 0 16);
        max-width:rem-calc(500);
        margin: 0 auto;
    }

}