
// Focus List - Story Line
// -----------------------
.focus-list-story-line {
    @extend %list-reset;
    li {
        display: inline-block;
        @include grid-column(4);
        padding: rem-calc(24 32 20);

        .inner {
            padding: rem-calc(24 32 20);
        }
        .icon-content {
            margin: rem-calc(0 0 24);

        }
        .list-content {

        }
        @media #{$medium-only} {
            @include grid-column(6);
        }
        @media #{$small-only} {
            @include grid-column(12, $center:true);
            display: block;

            .number {display: block;margin:0 auto;}
            text-align:center;
        }
    }
}