
// Typography
// ----------

// Type Utilities

// Caps
.caps {
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

// Families
.sans {
    font-family: $font-family-sans-serif;
}
.serif {
    font-family: $font-family-serif;
}

// Formatting
.section-tag {
    text-transform: uppercase;
    // font-size: rem-calc(14);
    letter-spacing: 0.04rem;
    font-weight: 600;
    font-family: $font-family-sans-serif
}

// Tiny Header
.tiny-header {
    font-size: rem-calc(12);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $old-iron;
    font-weight: $font-weight-normal;
    font-family: $font-family-sans-serif;
}

// HRs
hr {
    &.astericks {
        border-width: 0px;
        position: relative;
        margin: rem-calc(12 0 40);
        &:before {
            position: absolute;
            content:'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx';
            font-size: rem-calc(10);
            letter-spacing: 0.28em;
            width:100%;
            top:0;
            overflow: hidden;
            color: $gainsboro;
        }
    }
}

// Note
.note, .note a {
    font-size: rem-calc(12);
    color: $old-iron;
    display: block;

    &.small {
        font-size:  rem-calc(14);
    }

    &.med {
        font-size:  rem-calc(16);
    }
    &.dark {
        color:$clay;
    }
}

// Blockquote
blockquote {
    color: $gainsboro;
    font-style: italic;
    padding: 0;
    font-family: $font-family-serif;
    margin: rem-calc(32 0 82 0);
    &:last-child {
        margin-bottom: 0;
    }

    p {
        font-size: rem-calc(18);
    }

    cite {
        margin: rem-calc(32 0 0 0);
        font-style: normal;
        strong {
            font-weight: $font-weight-bold;
            color: $brown;
        }
        .divider {
            display: inline-block;
            margin: 0 6px;
        }
    }

}