// Utilities
// - - - - - - - -

// Fills
.fill-white {
    background: $white;
}
.fill-cream {
    background: $cream;
}

// Colors
.color-white {
    background: $white;
}
.color-cream {
    background: $cream;
}

// Breaks
.break {
    display: block;
}

// Ghost Center
.ghost-center {position: relative;}
.ghost-content {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}


// Number Badge
.number-badge {
    background: $white;
    color: $orange;
    border-radius: 1000px;
    height:rem-calc(48);
    width:rem-calc(48);
    border: 1px solid $orange;
    text-align: center;
    display: inline-block;
    font-size: rem-calc(24);
    span {
        position: relative;
        top:6px;
    }
}

// Dotted Line
.dotted-line {
    display: inline-block;
    width:222px;
    height:6px;
    background: url(../images/icons/dotted-line.png);
}

// Heart Icon
.heart-icon {
    display: inline-block;
    width:21px;
    height:18px;
    background: url(../images/icons/heart-icon.png);
    background-size:100%;
}

// bowl Icon
.bowl-icon {
    display: inline-block;
    width:86px;
    height:98px;
    background: url(../images/icons/bowl-icon.png);
    background-size:100%;
}

// Social Icons
.social-icons-list {
    @extend %list-rest;
    li {
        padding: 0 6px;
        display: inline-block;

        &:first-child {padding-left: 0;}
        a {
            font-size: rem-calc(26);
        }
    }
}