// Utilities
// - - - - - - - -

// Inner Container
// .inner-container {
//     @include grid-column(11, $center: true);
// }
// @media #{$small-only} {.row .inner-container {width:100%;float:none;display: block;padding:0}}


// Fills
.fill-white {
    background: $white;
}
.fill-cream {
    background: $cream;
}
.fill-cool {
    background: $cool;
}

// Fill Section
.fill-section {
    margin: 0;
    padding: rem-calc(110 0 100);
}


// Colors
.color-white {
    background: $white;
}
.color-cream {
    background: $cream;
}

// Breaks
.break {
    display: block;
}

// Ghost Center
.ghost-center {position: relative;}
.ghost-content {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}


// Number Badge
.number-badge {
    background: $white;
    color: $orange;
    border-radius: 1000px;
    height:rem-calc(48);
    width:rem-calc(48);
    border: 2px solid $orange;
    text-align: center;
    display: inline-block;
    font-size: rem-calc(24);
    span {
        position: relative;
        top:6px;
    }
}

// Ribbon
.ribbon {
    position: relative;
    display: block;
    width:65px;
    text-align: center;

    &:after,&:before {
        content: '';
        z-index: 1;
        position: absolute;
        border-bottom: 60px solid $footer-brown;
        border-left: 20px solid rgba(0, 0, 0, 0);
        border-right: 20px solid rgba(0, 0, 0, 0);
        top: 0;
        left: 32px;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
    }
    &:after {
        bottom: 0;
        left: 0;
        right: -8px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    .inner {
        position: relative;
        padding: 1px 0 3px;
        display: block;
        width:42px;
        background: $footer-brown;
        z-index: 2;
        .content {
            position: relative;
            left: 14px;
        }
        &:after {
            left: 0;
            border-width: rem-calc(8 0 0 32);
            content: "";
            bottom: - rem-calc(8);
            position: absolute;
            display: block;
            border-style: solid;
            border-color: #1E1D1E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            z-index: -1;
        }
    }

    small, h5 {
        color: $white;
        margin: 0;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
    }
    small {
        font-size: rem-calc(10);
        letter-spacing: .12em;
    }
    h5 {
        font-size: rem-calc(16);
        margin: -3px 0 -7px;
    }

}

// Dotted Line
.dotted-line {
    display: inline-block;
    width:222px;
    height:6px;
    background: url(../images/icons/dotted-line.png);
}

// Heart Icon
.heart-icon {
    position: relative;
    top:2px;
}

// Social Icons
.social-icons-list {
    @extend %list-rest;
    li {
        padding: 0 6px;
        display: inline-block;

        &:first-child {padding-left: 0;}
        a {
            font-size: rem-calc(26);
        }
    }
}


// User Icon
.user.icon img,
.user.icon {
    display: inline-block;
    background: $sea;
    border-radius: $global-rounded;
    height: rem-calc(32);
    width: rem-calc(32);

    &.med,
    &.med img {
        height: rem-calc(64);
        width: rem-calc(64);
    }
}
.user.icon {
    position: relative;
    img {
        position: absolute;
    }
}

// Split Panel
.split-panel {
    width:50%;
    float:left;
    @media #{$medium-down-upperbound} {
        width:inherit;
        float: none;
    }
}


// Update Gravatar
.update-gravatar {
    position: relative;
    height: rem-calc(64);
    margin-bottom: rem-calc(16) !important;

    .icon,
    .note {display: inline-block;}

    // Icon
    .icon {
        z-index:1;
        position: absolute;
    }

    // Note
    .note {
        background: $white;
        padding: rem-calc(14 32 17);
        position: relative;
        top: rem-calc(8);
        left: rem-calc(54);
        z-index: 0;
    }
    @media #{$small-only} {
        .user.icon,
        .user.icon img  {
            height: rem-calc(48);
            width: rem-calc(48);
        }
        .note {
            padding: rem-calc(8 12 9);
            top: rem-calc(6);
            left: rem-calc(45);
        }
    }

}