// Utilities
// - - - - - - - -

// Inner Container
// .inner-container {
//     @include grid-column(11, $center: true);
// }
// @media #{$small-only} {.row .inner-container {width:100%;float:none;display: block;padding:0}}


// Fills
.fill-white {
    background: $white;
}
.fill-cream {
    background: $cream;
}
.fill-cool {
    background: $cool;
}

// Fill Section
.fill-section {
    margin: 0;
    padding: rem-calc(110 0 100);
}


// Colors
.color-white {
    color: $white;
}
.color-cream {
    color: $cream;
}
.color-orange {
    color: $orange;
}
.color-base {
    color: $base;
}

// Weights
.norm-weight {
    font-weight: $font-weight-normal;
}

// Breaks
.break {
    display: block;
}

// Ghost Center
.ghost-center {position: relative;}
.ghost-content {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}


// Number Badge
.number-badge {
    // background: $white;
    color: $orange;
    border-radius: 1000px;
    height:rem-calc(48);
    width:rem-calc(48);
    border: 2px solid $orange;
    text-align: center;
    display: inline-block;
    font-size: rem-calc(24);
    span {
        position: relative;
        top:4px;
    }

    &.sm {
        height:rem-calc(32);
        width:rem-calc(32);
        font-size: rem-calc(16);
        span {
            position: relative;
            top:2px;
        }
    }

}

// Ribbon
.ribbon {
    position: relative;
    display: block;
    width:65px;
    text-align: center;

    &:after,&:before {
        content: '';
        z-index: 1;
        position: absolute;
        border-bottom: 60px solid $footer-brown;
        border-left: 20px solid rgba(0, 0, 0, 0);
        border-right: 20px solid rgba(0, 0, 0, 0);
        top: 0;
        left: 32px;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
    }
    &:after {
        bottom: 0;
        left: 0;
        right: -8px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    .inner {
        position: relative;
        padding: 1px 0 3px;
        display: block;
        width:42px;
        background: $footer-brown;
        z-index: 2;
        .content {
            position: relative;
            left: 14px;
        }
        &:after {
            left: 0;
            border-width: rem-calc(8 0 0 32);
            content: "";
            bottom: - rem-calc(8);
            position: absolute;
            display: block;
            border-style: solid;
            border-color: #1E1D1E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
            z-index: -1;
        }
    }

    small, h5 {
        color: $white;
        margin: 0;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
    }
    small {
        font-size: rem-calc(10);
        letter-spacing: .12em;
    }
    h5 {
        font-size: rem-calc(16);
        margin: -3px 0 -7px;
    }

}

// Dotted Line
.dotted-line {
    display: inline-block;
    width:222px;
    height:6px;
    background: url(../images/icons/dotted-line.png);
}

// Heart Icon
.heart-icon {
    position: relative;
    top:2px;
}

// Social Icons
.social-icons-list {
    @extend %list-rest;
    li {
        padding: 0 6px;
        display: inline-block;

        &:first-child {padding-left: 0;}
        a {
            font-size: rem-calc(26);
        }
    }
}


// User Icon
.user.icon img,
.user.icon {
    display: inline-block;
    background: $sea;
    border-radius: $global-rounded;
    height: rem-calc(32);
    width: rem-calc(32);

    &.med,
    &.med img {
        height: rem-calc(64);
        width: rem-calc(64);
    }
    &.lg,
    &.lg img {
        height: 100%;
        width: 100%;
    }
    @media #{$small-only} {
        &.lg,
        &.lg img {
            height: rem-calc(140);
            width: rem-calc(140);
        }
    }
}
.user.icon {
    position: relative;
    img {
        position: absolute;
    }
}

// Split Panel
.split-panel {
    width:50%;
    float:left;
    .inner {
        padding: rem-calc(40 40 100);
    }
    .title {
        font-size: rem-calc(18);
    }
    p {color:$clay;}
    @media #{$medium-down-upperbound} {
        width:inherit;
        float: none;
        .inner {
            padding: rem-calc(32 24 60);
        }
    }
}


// Update Gravatar
.update-gravatar {
    position: relative;
    height: rem-calc(64);
    margin-bottom: rem-calc(16) !important;

    .icon,
    .note {display: inline-block;}

    // Icon
    .icon {
        z-index:1;
        position: absolute;
    }

    // Note
    .note {
        background: $white;
        padding: rem-calc(14 32 17);
        position: relative;
        top: rem-calc(8);
        left: rem-calc(54);
        z-index: 0;
    }
    @media #{$small-only} {
        .user.icon,
        .user.icon img  {
            height: rem-calc(48);
            width: rem-calc(48);
        }
        .note {
            padding: rem-calc(8 12 9);
            top: rem-calc(6);
            left: rem-calc(45);
        }
    }

}

// Toggle Switch & Helper Copy

.switch-wrap {
    .switch, .switch-note {display: inline-block;}
    .switch-note {
        font-size: rem-calc(14);
        top: rem-calc(-4);
        margin-left: rem-calc(6);
        position: relative;
    }
}


// Icons
.icon {
position: relative;top:2px;
&.arrow-left {
    margin-right: 4px;
}
&.arrow-right {
    margin-left: 4px;
}
}

// Disabled
a.disabled {
    cursor: default;
}


// header buffer
.header-buffer {
    padding-top: rem-calc(60);
}


// Footer buffer
.footer-buffer {
    padding-bottom: rem-calc(180);
}



// Offset Images
@media #{$large-only} {
    img.offset-image-left,
    img.offset-image-right {
        display: block;
    }
    img.offset-image-left {
        margin-left: rem-calc(-64);
    }
    img.offset-image-right {
        margin-left: rem-calc(64);
    }
    // figure

    figure.offset-image-left {
        figcaption {float:left !important;}
        img {
            margin-left: rem-calc(-64);
        }
    }
    figure.offset-image-right {
        figcaption {
            float:right;
        }
        img {
            margin-left: rem-calc(100);
        }
    }
}
figure.offset-image-left,
figure.offset-image-right {
    margin:0;
    img {
        display: block;
    }
    figcaption {
        float:right;
        color: $clay;
        margin-top: 1em;
        font-size: rem-calc(12);
    }
}

// Slat List
ul.slat-list {
    @extend %list-reset;
    li {
        padding: rem-calc(12 16);
        display: block;
        list-style: none;
        text-align: center;
        border-bottom: 1px solid $gainsboro;
        p {
            color: $clay;
        }
    }
}

// Paragraphs
p {color: $light-tan;}
.site-container {webkit-backface-visibility: hidden;}

